<ul class="nav justify-content-center">
  

   <% if student_signed_in?%>
    <li class="nav-item">
         <%= link_to "Sign Out", destroy_student_session_path, method: :delete, class: 'nav-link'%>
    </li>

    <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="/">Home</a>
    </li>
   <% else %>

    <li class="nav-item">
         <%= link_to "Register", new_student_registration_path, class: 'nav-link'%>
    </li>

    <li class="nav-item">
        <%= link_to "Sign In", new_student_session_path, class: 'nav-link'%>
    </li>

   <% end %>
 
</ul>